.header{
    background-color: var(--white);

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template: repeat(2, 1fr) / auto;
}
/*FIRST ROW*/

.first-row{
    display: flex;
}

.searchbar-container,
.notifications-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.searchbar-container{
    flex: 2 1 0;

    padding: 0 45px;
    justify-content: start;
    gap: 15px;
}

.searchbar{
    background-color: var(--light-grey);

    width: 90%;
    height: 40%;
    border-radius: 50px;

    display: flex;
    align-items: center;

    padding: 10px;
}

.searchbar:hover{
    cursor: text;
}

.notifications-container{
    flex: 1 1 0;
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile-avatar{
    width: 3.2rem;
    flex-shrink: 0;

    user-select: none;
}

.profile-avatar img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
}

.username{
    font-weight: bold;
    font-size: 1.2em;
}

.username:hover:not(.greeting-container .username){
    cursor: pointer;
}

/*SECOND ROW*/

.second-row,
.greeting-container,
.btns-container{
    display: flex;
}

.greeting-container,
.btns-container{
    align-items: center;
}

.greeting-container{
    flex: 1.6 1 0;
    font-weight: bold;

    padding: 0 50px;
    gap: 15px;
}

.greeting-container .username{
    font-size: 1.5rem;
}

.greeting-container .profile-avatar{
    width: 4.5rem;
}

.btns-container{
    flex: 1 1 0;
    justify-content: center;

    padding: 10px;
    gap: 40px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: white;
    background-color: var(--light-blue);

    width: 7rem;
    height: 2.7rem;
    border-radius: 50px;

    user-select: none;
}